@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {font-family: Poppins, sans-serif;
background-color: #FFECCC;
color: #464E57;}
h1{text-align: center; font-size: 10vh; margin-bottom: 25px;}
#introduction {text-align: center; size: 5em;}

#Projects, nav {background-color: #8B7356;}

a {color:#464E57;
text-decoration: none;}
a:hover {color: #E49D22;}


ul{list-style-type: none;}
.img-size {width: 100px; height: 100px;}